/* ITF Lab 5 CSS file */



#main {
  background-color: white;
}

#header {
  background-color: yellow;

  /* Task 1 here */
  text-align: center;
}

#navbar {
  background-color: green;
}

#navbar li {
  display: inline;
}

#navbar a {
  display: inline-block;
  text-align: center;
  width: 6em;
  background-color: red;
}

#navbar a:hover {
  background-color: white;
}

body {
  background-color: #cccccc;
}

ul {
  list-style-type: square;
}